## 1. 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('./final_final_.xlsx')
df

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.500,Rum,15.782828,40.0,NaN,NaN
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.000,Ingredient,31.565657,0.0,NaN,NaN
2,2,Mojito,Sugar,2.0,tsp,0.250,Ingredient,1.578283,0.0,NaN,NaN
3,3,Mojito,Mint,3.0,NaN,0.090,Ingredient,0.568182,0.0,NaN,NaN
4,4,Mojito,Soda Water,1.0,cup,8.000,Ingredient,50.505051,0.0,6.313131,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2288,2288,Spice 75,Sugar,60.0,ml,1.800,Ingredient,14.201183,0.0,NaN,NaN
2289,2289,Spice 75,Allspice,1.0,tblsp,0.375,Ingredient,2.958580,0.0,NaN,NaN
2290,2290,Spice 75,Rum,20.0,cl,6.000,Rum,47.337278,40.0,NaN,NaN
2291,2291,Spice 75,Lime Juice,90.0,ml,2.700,Ingredient,21.301775,0.0,NaN,NaN
2292,2292,Spice 75,Champagne,6.0,cl,1.800,Champagne,14.201183,12.0,20.639053,2.0

## 2. EDA & Feature Engineering

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [3]:
df['칵테일명'].count()

2293

In [4]:
cnt = 0
name = df['칵테일명'][cnt]
print(name)

Mojito

In [5]:
df['alcohol']=""
df.head()

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.50,Rum,15.782828,40.0,,NaN
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.00,Ingredient,31.565657,0.0,,NaN
2,2,Mojito,Sugar,2.0,tsp,0.25,Ingredient,1.578283,0.0,,NaN
3,3,Mojito,Mint,3.0,NaN,0.09,Ingredient,0.568182,0.0,,NaN
4,4,Mojito,Soda Water,1.0,cup,8.00,Ingredient,50.505051,0.0,,1.0

In [6]:
cnt2 = 0 
while( cnt != df['칵테일명'].count()):
    sum = 0
    sum2 = 0
    while (df['칵테일명'][cnt] == name):
        #if(df['ABV'][cnt] != 0):
        sum += df['oz화개수'][cnt]
        cnt += 1 
        if(cnt == df['칵테일명'].count()):
            break
    #print(name+":"+str(sum))
    for cnt2 in range(cnt2,cnt,1):
        sum2 += df['oz화개수'][cnt2]*df['ABV'][cnt2]   
        #print(name+":"+str(sum2))
    print(cnt2)
    df['alcohol'][cnt2] = sum2 / sum
    cnt2=cnt
    if(cnt == df['칵테일명'].count()):
        break
    else:
        name = df['칵테일명'][cnt]

4
8
14
17
22
25
28
32
37
40
44
47
51
54
58
62
65
68
72
75
78
81
83
85
88
90
93
96
99
105
109
111
114
117
121
127
131
133
135
141
147
151
155
160
165
168

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

173
177
183
189
193
198
203
209
214
219
222
228
232
237
241
244
250
253
256
259
262
265
267
270
274
280
282
286
289
295
301
307
311
315
319
322
325
331
335
339
345
350
356
361
364
367
369
371
376
379
382
385
389
394
400
403
409
412
418
421
423
425
431
434
437
439
443
445
450
455
458
461
467
470
476
480
485
487
491
493
495
497
502
506
509
512
515
518
522
526
531
537
540
544
549
551
556
559
561
564
569
572
577
582
584
588
593
598
601
604
610
613
615
618
623
629
634
639
642
648
652
658
661
664
667
672
674
677
682
684
687
689
692
695
699
701
705
709
712
716
721
724
727
734
736
741
744
749
753
758
763
767
772
775
778
780
782
785
787
789
791
794
797
800
803
806
811
815
818
824
829
835
839
843
847
852
856
859
863
867
871
873
877
880
884
886
895
898
900
906
910
915
920
931
943
946
951
957
960
965
970
974
979
986
994
1002
1006
1011
1022
1027
1034
1039
1043
1049
1055
1063
1070
1076
1080
1086
1089
1094
1097
1099
1102
1106
1112
1115
1120
1125
1131
1133
1138
1141
1145
1150
1154
1158
1162
1164
1166
1169
1172
1175
1177
1180
1183
1188
1191
1196
1199
1202
1205
1207
1210
1213
1215
1217
1219
1223
1225
1228
1233
1235
1237
1240
1243
1246
1249
1252
1256
1258
1261
1264
1268
1271
1275
1280
1284
1286
1289
1293
1297
1301
1304
1307
1310
1313
1318
1322
1326
1329
1333
1337
1340
1342
1345
1348
1352
1355
1358
1362
1366
1369
1371
1375
1383
1387
1390
1392
1394
1396
1401
1404
1407
1411
1414
1417
1420
1422
1424
1427
1432
1435
1439
1444
1448
1450
1454
1458
1462
1465
1469
1472
1476
1479
1485
1487
1492
1494
1503
1506
1509
1513
1521
1523
1525
1527
1531
1534
1538
1541
1545
1550
1558
1563
1568
1575
1577
1579
1582
1584
1586
1590
1595
1600
1603
1606
1608
1613
1616
1618
1621
1623
1626
1630
1634
1638
1642
1646
1653
1656
1660
1665
1668
1671
1674
1678
1680
1684
1687
1695
1698
1700
1704
1707
1710
1714
1717
1721
1724
1727
1729
1734
1742
1745
1749
1753
1755
1759
1764
1769
1773
1779
1783
1785
1789
1791
1793
1795
1801
1805
1807
1811
1820
1822
1825
1830
1832
1835
1838
1844
1846
1848
1852
1855
1859
1867
1871
1876
1879
1883
1886
1891
1898
1902
1906
1911
1915
1918
1923
1927
1930
1934
1937
1939
1942
1944
1948
1954
1956
1960
1963
1967
1970
1972
1977
1979
1983
1986
1992
1997
2001
2003
2006
2009
2013
2016
2019
2025
2028
2032
2036
2043
2047
2051
2054
2059
2063
2066
2068
2075
2079
2083
2088
2095
2101
2104
2107
2110
2113
2118
2123
2126
2128
2130
2134
2138
2142
2147
2154
2160
2167
2170
2173
2176
2179
2184
2189
2191
2196
2198
2202
2205
2211
2214
2217
2221
2225
2227
2229
2232
2236
2241
2246
2253
2258
2262
2267
2270
2274
2278
2281
2284
2287
2292

In [7]:
df

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.500,Rum,15.782828,40.0,,NaN
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.000,Ingredient,31.565657,0.0,,NaN
2,2,Mojito,Sugar,2.0,tsp,0.250,Ingredient,1.578283,0.0,,NaN
3,3,Mojito,Mint,3.0,NaN,0.090,Ingredient,0.568182,0.0,,NaN
4,4,Mojito,Soda Water,1.0,cup,8.000,Ingredient,50.505051,0.0,6.31313,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2288,2288,Spice 75,Sugar,60.0,ml,1.800,Ingredient,14.201183,0.0,,NaN
2289,2289,Spice 75,Allspice,1.0,tblsp,0.375,Ingredient,2.958580,0.0,,NaN
2290,2290,Spice 75,Rum,20.0,cl,6.000,Rum,47.337278,40.0,,NaN
2291,2291,Spice 75,Lime Juice,90.0,ml,2.700,Ingredient,21.301775,0.0,,NaN
2292,2292,Spice 75,Champagne,6.0,cl,1.800,Champagne,14.201183,12.0,20.6391,2.0

In [8]:
df = df.drop(["Unnamed: 0"],axis=1)

In [9]:
df

,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,Mojito,Light Rum,2.5,oz,2.500,Rum,15.782828,40.0,,NaN
1,Mojito,Juice Of Lime,2.5,half oz(juice),5.000,Ingredient,31.565657,0.0,,NaN
2,Mojito,Sugar,2.0,tsp,0.250,Ingredient,1.578283,0.0,,NaN
3,Mojito,Mint,3.0,NaN,0.090,Ingredient,0.568182,0.0,,NaN
4,Mojito,Soda Water,1.0,cup,8.000,Ingredient,50.505051,0.0,6.31313,1.0
...,...,...,...,...,...,...,...,...,...,...
2288,Spice 75,Sugar,60.0,ml,1.800,Ingredient,14.201183,0.0,,NaN
2289,Spice 75,Allspice,1.0,tblsp,0.375,Ingredient,2.958580,0.0,,NaN
2290,Spice 75,Rum,20.0,cl,6.000,Rum,47.337278,40.0,,NaN
2291,Spice 75,Lime Juice,90.0,ml,2.700,Ingredient,21.301775,0.0,,NaN
2292,Spice 75,Champagne,6.0,cl,1.800,Champagne,14.201183,12.0,20.6391,2.0

In [10]:
df.to_excel("final_final_3.xlsx")