## 1. 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('./final_final_3.xlsx')
df

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.500,Rum,15.782828,40.0,NaN,NaN
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.000,Ingredient,31.565657,0.0,NaN,NaN
2,2,Mojito,Sugar,2.0,tsp,0.250,Ingredient,1.578283,0.0,NaN,NaN
3,3,Mojito,Mint,3.0,NaN,0.090,Ingredient,0.568182,0.0,NaN,NaN
4,4,Mojito,Soda Water,1.0,cup,8.000,Ingredient,50.505051,0.0,6.313131,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2288,2288,Spice 75,Sugar,60.0,ml,1.800,Ingredient,14.201183,0.0,NaN,NaN
2289,2289,Spice 75,Allspice,1.0,tblsp,0.375,Ingredient,2.958580,0.0,NaN,NaN
2290,2290,Spice 75,Rum,20.0,cl,6.000,Rum,47.337278,40.0,NaN,NaN
2291,2291,Spice 75,Lime Juice,90.0,ml,2.700,Ingredient,21.301775,0.0,NaN,NaN
2292,2292,Spice 75,Champagne,6.0,cl,1.800,Champagne,14.201183,12.0,20.639053,2.0

## 2. EDA & Feature Engineering

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [3]:
df['칵테일명'].count()

2293

In [4]:
cnt = 0
name = df['칵테일명'][cnt]
print(name)

Mojito

In [5]:
df['alcohol_classification']=""
df.head()

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.50,Rum,15.782828,40.0,NaN,
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.00,Ingredient,31.565657,0.0,NaN,
2,2,Mojito,Sugar,2.0,tsp,0.25,Ingredient,1.578283,0.0,NaN,
3,3,Mojito,Mint,3.0,NaN,0.09,Ingredient,0.568182,0.0,NaN,
4,4,Mojito,Soda Water,1.0,cup,8.00,Ingredient,50.505051,0.0,6.313131,

In [6]:
cnt2 = 0 
while( cnt != df['칵테일명'].count()):
    sum = 0
    sum2 = 0
    while (df['칵테일명'][cnt] == name):
        sum += df['oz화개수'][cnt]
        cnt += 1 
        if(cnt == df['칵테일명'].count()):
            break
    for cnt2 in range(cnt2,cnt,1):
        sum2 += df['oz화개수'][cnt2]*df['ABV'][cnt2]
    
    if(df['alcohol'][cnt2]>=0 and df['alcohol'][cnt2]<6):
        df['alcohol_classification'][cnt2] = 0
    elif(df['alcohol'][cnt2]>=6 and df['alcohol'][cnt2]<15):
        df['alcohol_classification'][cnt2] = 1
    elif(df['alcohol'][cnt2]>=15 and df['alcohol'][cnt2]<25):
        df['alcohol_classification'][cnt2] = 2
    elif(df['alcohol'][cnt2]>=25):
        df['alcohol_classification'][cnt2] = 3
    
    cnt2=cnt
    if(cnt == df['칵테일명'].count()):
        break
    else:
        name = df['칵테일명'][cnt]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df

,Unnamed: 0,칵테일명,재료명,개수,단위,oz화개수,Category,재료비율,ABV,alcohol,alcohol_classification
0,0,Mojito,Light Rum,2.5,oz,2.500,Rum,15.782828,40.0,NaN,
1,1,Mojito,Juice Of Lime,2.5,half oz(juice),5.000,Ingredient,31.565657,0.0,NaN,
2,2,Mojito,Sugar,2.0,tsp,0.250,Ingredient,1.578283,0.0,NaN,
3,3,Mojito,Mint,3.0,NaN,0.090,Ingredient,0.568182,0.0,NaN,
4,4,Mojito,Soda Water,1.0,cup,8.000,Ingredient,50.505051,0.0,6.313131,1
...,...,...,...,...,...,...,...,...,...,...,...
2288,2288,Spice 75,Sugar,60.0,ml,1.800,Ingredient,14.201183,0.0,NaN,
2289,2289,Spice 75,Allspice,1.0,tblsp,0.375,Ingredient,2.958580,0.0,NaN,
2290,2290,Spice 75,Rum,20.0,cl,6.000,Rum,47.337278,40.0,NaN,
2291,2291,Spice 75,Lime Juice,90.0,ml,2.700,Ingredient,21.301775,0.0,NaN,
2292,2292,Spice 75,Champagne,6.0,cl,1.800,Champagne,14.201183,12.0,20.639053,2

In [8]:
df = df.drop(["Unnamed: 0"],axis=1)
df.to_excel("final_final_4.xlsx")